<form class="filters" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Breeds</mat-label>
    <mat-select formControlName="breed_ids" multiple>
      <mat-option *ngFor="let breed of breedsList" [value]="breed.id">{{breed.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Limit</mat-label>
    <mat-select formControlName="limit">
      <mat-option *ngFor="let limit of limitOptions" [value]="limit">
        {{limit}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
